profiles {

  singularity {
    singularity.enabled = true
    process.container = 'arneblom/fusionprimerxl:latest'

  }

  local {
  	docker.enabled = true
    process.container = 'arneblom/fusionprimerxl:latest'

  }

  example {
    docker.enabled = true
    process.container = 'arneblom/fusionprimerxl:latest'
    params.output_dir = "$baseDir/output"
    params.input_bed = "$baseDir/input/input_fusionRNAs.bed"
    params.index_fasta = "$baseDir/assets/GRCh38/index_fastahack"
    params.index_fasta_name = "Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    params.index_bowtie = "$baseDir/assets/GRCh38/index_bowtie"
    params.index_bowtie_name = "GRCh38_cdna"
    params.known_exons = "$baseDir/assets/GRCh38/Known_exons_GRCh38.111.bed"
    params.help = false
  }

  nf_runner {
    docker.enabled = false
  }

  
}